<nav class="h-14 blue-bg flex items-center text-lg font-thin">
  <div class="w-9/12 mx-auto flex">
    <div class="flex">
        <img
          src="https://www.jetblue.com/magnoliapublic/dam/logo/jetblue-logo.svg"
          alt=""
          class="h-8 px-11"
        />
      <ul class="flex ">
        <li>
          <a href="">Book &#9660;</a>
        </li>
        <li>
          <a href="">Manage Trips</a>
        </li>
        <li>
          <a href="">Check In</a>
        </li>
        <li>
          <a href="">Travel Info &#9660;</a>
        </li>
      </ul>
    </div>
    <div></div>
  </div>
</nav>
